/content/.obsidian
/content/.trash
/content/graph-data.json
/content/Untitled.canvas
/content/unresolved links output.md

.hugo_build.lock
public
resources
assets/indices/linkIndex.json
assets/indices/contentIndex.json
linkmap
