/content/.obsidian
/content/.trash
/content/graph-data.json
/content/Untitled.canvas
/content/unresolved links output.md
/content/unlinked files output.md
/content/sng/*.mp3

public
node_modules
tsconfig.tsbuildinfo
.quartz-cache
.replit
replit.nix
